@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0px;
}

header {
  width: 100%;
}
header #navigation {
  width: 70%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #navigation #logo {
  width: 30%;
}
header #navigation #logo img {
  width: 55%;
}
header #navigation #links ul li {
  display: inline-block;
  padding: 15px;
}
header #navigation #links ul li a {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

#details {
  width: 100%;
  border-bottom: 2px solid red;
}
#details #description {
  height: 525px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#details #description .top-name {
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 7rem;
}
#details #description .bottom-name {
  font-weight: 600;
  font-size: 4rem;
}
#details #description #buttons {
  padding: 10px;
}
#details #description #buttons .button {
  padding: 15px;
  color: black;
  font-family: Josefin Sans;
}
#details #description #socials {
  padding: 10px;
}
#details #description #socials a {
  color: black;
  font-weight: 500;
  font-size: 40px;
}
#details #description #socials a:hover {
  color: rgb(239, 58, 50);
}

#wrapper {
  background-color: rgb(239, 58, 50);
  width: 100%;
  border-bottom: 2px solid red;
}
#wrapper h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 3rem;
  padding: 15px;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 80%;
  margin: 0px auto;
}
#about .block {
  width: 60%;
  padding: 25px;
}
#about .block img {
  width: 70%;
  --s: 15px;
  --b: 2px;
  --w: 200px;
  --c: #f0ebeb;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  padding: calc(2 * var(--s));
  --_g: var(--c) var(--b),#ffffff00 0 calc(100% - var(--b)),var(--c) 0;
  background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat, linear-gradient(90deg, var(--_g)) 50%/var(--_i, 100%) 100% no-repeat;
  outline: calc(var(--w) / 1.5) solid rgba(255, 255, 255, 0);
  outline-offset: calc(var(--w) / -1 - 2 * var(--s));
  transition: 0.4s;
  transition: transform 0.2s;
}
#about .block img:hover {
  transform: scale(1.1);
}
#about .block h3 {
  font-weight: 600;
  font-size: 2rem;
}
#about .block p {
  font-size: 30px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

#wrapper-skills {
  width: 100%;
  height: 600px;
}
#wrapper-skills h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 3rem;
  padding: 15px;
}
#wrapper-skills #skills {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 0px auto;
  margin-top: 50px;
  width: 70%;
}
#wrapper-skills #skills .block2 {
  color: #f0ebeb;
  width: 20%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #0c0c0f;
  background-color: rgb(239, 58, 50);
  border-radius: 15px;
  transition: transform 0.2s;
}
#wrapper-skills #skills .block2:hover {
  transform: scale(1.1);
}
#wrapper-skills #skills .block2 .top img {
  width: 170px;
  height: 180px;
  margin-top: 30px;
}
#wrapper-skills #skills .block2 .middle {
  text-align: center;
  font-size: 15px;
}

body {
  background-image: linear-gradient(to right, rgba(252, 247, 247, 0), rgb(246, 48, 41)), url(../../assets/img/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Josefin Sans;
}/*# sourceMappingURL=style.css.map */