#details{
    width:100%;
    @include borderBottom;

    #description{
        height: 525px;
        @include flexCenter;
        flex-direction: column;
        
        .top-name{
            font-weight: 600;
            color: $font-color;
            font-size: 7rem;
            animation-name: focus-in-expand;
            animation-duration: 2s;
        }

        .bottom-name{
            font-weight: 600;
            font-size: 4rem;
            color: $font-color;
            animation-name: focus-in-expand;
            animation-duration: 3s;
        }
    
    #buttons{
        padding: 10px;

        .button{
            border: none;
            color: $primary-color;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            font-family: $font;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color:transparent; 
            color: $primary-color; 
            border: 2px solid $primary-color;

            &:hover{
                background-color: $primary-color;
                color: black;
            }
        }
    }
    #socials{
        padding: 10px;
        
        a{
            color: $primary-color;
            font-weight: 500;
            font-size: 40px;
            transition-duration: 0.4s;

            &:hover{
                color: $secondary-color;
            }
        }
    }
    }
}