header{
    width: 100%;
    background-color: transparent;

    #navigation{
        width: 70%;
        margin:0px auto;
        display: flex;
        justify-content: center;
        align-items: center;

        #logo{
            width:30%;

            img{
                width:30%;
            }
        }

        #links{
            ul{

                li{
                    display: inline-block;
                    padding: 5px;

                    a{
                        color: $font-color;
                        font-size: 20px;
                        transition: all 50ms linear 0s;

                        &::before{
                            transition: all 0.5s ease;
                        }

                        &:hover{
                            border-bottom: 2px solid $primary-color;
                        }

                        &::after{
                            transition: all 0.8s ease-out;
                        }

                    }
                }
            }
        }
    }
}