#wrapper-skills{
    width: 100%;
    @include borderBottom;

    h2{
        @include flexCenter;
        font-weight: 600;
        font-size: 3rem;
        padding: 15px;
        color: $primary-color;
        border-bottom: 3px solid $primary-color;
        width: 20%;
        margin: 0px auto; 
    }

    #skills{
        @include flexCenter;
        justify-content: space-around;
        margin: 0px auto;
        margin-top: 50px;
        width: 70%;

        .block2{
            color: #f0ebeb;
            width: 20%;
            height: 400px;
            display: flex;
            justify-content: center;
            align-self: flex-end;
            flex-wrap: wrap;
            box-shadow: 0 0 10px #0c0c0f;
            background-color: $primary-color;
            border-radius: 15px;

            .top{

                img{
                    width: 170px;
                    height: 180px;
                    margin-top: 30px;
                }
            }

            .middle{
                text-align: center;
                font-size: 15px;
            }
        }
    }

    #progress{
        position: relative;
        @include flexCenter;
        flex-wrap: wrap;
        gap:70px;

        .circle{
            position: relative;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            color: white;
            background: #060606 linear-gradient(to right, transparent 30%, $primary-color);

            h3{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2.5em;
                z-index: 1;
                font-weight: 500;
            }

            span{
                font-size: 0.65em;
                font-weight: 400;
            }

            h4{
                position: absolute;
                top: 62%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                font-weight: 500;
                color: $primary-color;
                text-transform: uppercase;
            }
        }
    }
}