$primary-color:rgb(217, 1, 9);
$secondary-color:rgb(248, 73, 73);
$background-color:rgb(0, 0, 0);
$color:rgb(255, 255, 255);
$font-color:rgb(217, 1, 9);
$font: Josefin Sans;
$font-size: 24px;

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin borderBottom{
    border-bottom: 2px solid $primary-color;
}

@mixin formStyle{
    border: 3px solid #0c0c0f;
    border-radius: 10px;
    width: 270px;
    height: 30px;
    font-size: 15px;
    outline: 0;
    padding: 5px;
    background-color: $primary-color;
    transition: all 0.30s ease-in-out;
}

@-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
