$primary-color:rgb(217, 1, 9);
$secondary-color:rgb(248, 73, 73);
$background-color:rgb(0, 0, 0);
$color:rgb(255, 255, 255);
$font-color:rgb(217, 1, 9);
$font: Josefin Sans;

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}